* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.boxcontainer {
  max-width: 1500px;
  margin: 0 auto;
}

header .bg-blu {
  background-color: #0282f9;
}
header .bg-blu .header-blu {
  height: 30px;
  color: white;
  display: flex;
  justify-content: end;
  gap: 40px;
}
header .linksbox {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .linksbox .himgbox {
  width: 80px;
}
header .linksbox .links {
  display: flex;
  gap: 20px;
}
header .linksbox .links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}
header .linksbox .hsearch {
  display: flex;
}
header .linksbox .hsearch #search {
  border: 0;
  border-bottom: 2px solid blue;
  text-align: end;
}
header .jumbo {
  height: 500px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  position: relative;
}
header .tagseries {
  text-align: center;
}
header .tagseries h4 {
  position: absolute;
  bottom: 0;
  transform: translate(0, 50%);
  width: 250px;
  padding: 10px 0;
  background-color: #0282f9;
}

.bg-main {
  background-color: rgb(34, 34, 34);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-main .boxcontainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
}
.bg-main .boxcontainer .cardcomic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(16.6666666667% - 20px);
  text-transform: uppercase;
  margin: 0 10px;
}
.bg-main .boxcontainer .imgbox {
  width: 100%;
  height: 70%;
}

.main-blu {
  background-color: #0282f9;
  padding: 30px 0;
}
.main-blu .shop {
  display: flex;
}
.main-blu .shop .shopcard {
  width: calc(20% - 20px);
  height: 70px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-blu .shop .shopcard a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.main-blu .shop .shopcard a p {
  margin: 0 !important;
}
.main-blu .shop .shopcard img {
  width: 20%;
}

footer .bg-footer {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  height: 500px;
  color: white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
footer .bg-footer .rightlinks {
  display: flex;
  flex-direction: column;
  padding: 60px 10% 0;
}
footer .bg-footer .rightlinks .linksbox {
  display: flex;
  gap: 30px;
}
footer .bg-footer .rightlinks .linksbox ul {
  list-style: none;
  padding: 0;
}
footer .bg-footer .rightlinks .linksbox ul li {
  padding: 2px;
}
footer .bg-footer .rightlinks .linksbox ul li a {
  text-decoration: none;
  color: gray;
}
footer .bg-footer .rightlinks .copyright {
  color: grey;
}
footer .bg-footer .flogo {
  align-self: end;
  margin-right: 10%;
}

.socialbox {
  padding: 30px 10% 30px;
  background-color: #434343;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialbox i {
  color: grey;
  font-size: 30px;
}