footer {
    .bg-footer {

        background-image: url("../images/footer-bg.jpg");
        background-size: cover;
        height: 500px;
        color: white;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .rightlinks {
            display: flex;
            flex-direction: column;
            padding: 60px 10% 0;

            .linksbox {
                display: flex;
                gap: 30px;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        padding: 2px;

                        a {
                            text-decoration: none;
                            color: gray;
                        }
                    }
                }
            }

            .copyright {
                color: grey;
            }


        }


        .flogo {
            align-self: end;
            margin-right: 10%;
        }
    }
}
