.socialbox {
    padding: 30px 10% 30px;
    background-color: #434343;
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        color: grey;
        font-size: 30px;
    }
}
